/*================================
=            Header            =
================================*/

.header .header-info .contacts {
	float: left;
}

.container960 {
	margin: 0 auto;
	width: 960px;
	padding: 0 10px;
}


@redColor: #ed1c24;

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*================================
=            Header            =
================================*/

.header {
	.header-info {
		.contacts {
			.phone__number {
				color: #6d6f72;
				font-size: 24px;
				font-weight: bold;
			}

			.phone__text {
				color: #bfbfbf;
				font-size: 13px;
			}
		}

		.marks {
			padding-top: 6px;
			float: right;
			.abta {
				float: left;
			}
			.protected {
				float: left;
			}
		}
	}

	.header-top-nav {
		background: #f2f2f2;
		position: relative;
		height: 30px;
		line-height: 30px;
		margin-bottom: 24px;
		clear: both;
		&:before {
			content: "";
			position: absolute;
			left: -11px;
			top: 0;
			width: 0;
			height: 0;
			border-top: 30px solid #f2f2f2; 
			border-left: 11px solid transparent;
		}
		&:after {
			content: "";
			position: absolute;
			right: -11px;
			top: 0;
			width: 0;
			height: 0; 
			border-right: 11px solid transparent;
			border-top: 30px solid #f2f2f2;
		}

		.top-menu {
			padding: 0px;
			margin: 0 auto;
			.menu__item {
				display: inline-block;
				padding: 0 28px;
				.menu__link {
					color: @redColor;
					font-weight: bold;
				}
			}
		}
	}
}

/*=====  End of Header  ======*/


/*==================================
=            Main Menu            =
==================================*/
.main-menu-wrapper {
	border-top: 1px solid #eaeaea;
	height: 55px;
	line-height: 55px;

	.container960 {
		padding: 0;

		.navbar-collapse {
			padding: 0 10px;

				.main-menu {
					margin: 0px;
					padding: 0px;
					list-style: none;
					float: left;
					white-space: nowrap;
					width: 700px;

				.menu__item {
					display: inline-block;
					padding-right: 26px;

					.menu__link {
						color: #6d6f72;
						text-decoration: none;

						&:hover {
							color: #ed1c24;
							font-weight: bold;
						}
					}
				}
			}
		}

		.nav--search {
			padding: 0px;
			margin: 0px;
			margin-top: 8px;
			float: right;
			
			.form-group {
				float: left;
				display: block;
				.search--field {
					background: #f2f2f2;
					border: none;
					border-radius: 0px;
					box-shadow: none;
					height: 40px;
					padding: 0;
					display: block;
					padding-left: 20px;
					font-weight: normal;
				}
			}

			.btn__search {
				background: url("../img/search__btn__icon.png") no-repeat center center #ed1c24;
				width: 40px;
				border-radius: 0px;
				box-shadow: none;
				height: 40px;
				border: none;
				border-bottom: 3px solid #be161d;
				text-shadow: none;
				float: left;

				&:hover {
					background: url("../img/search__btn__icon.png") no-repeat center center lighten(#ed1c24, 10%);
				}

				&:active {
					border: none;
				}
			}
		}
	}

}


/*=====  End of Main Menu  ======*/
